{% extends 'base.html.twig' %}

{% block title %}Hello NotificationController!
{% endblock %}

{% block body %}

	<body>
		<h1 class="mt-6 text-3xl font-bold text-center">My Notifications
		</h1>
		<div class="max-w-sm p-6 m-auto mt-10 mb-20 bg-white rounded-lg shadow-lg ">
			{% for notification in notifcations %}
				<!-- Notification Card -->

				<!-- Notification message -->
					<p class="mb-4 text-gray-700"> <strong>Message:</strong>
					{{notification.message}}
				</p>

				<!-- Created date -->
				<p class="mb-4 text-sm text-gray-500">
					<strong>Created at:</strong>
					{{notification.createdAt | date('Y-m-d')}}
				</p>

				<!-- Status: Read/Unread -->
				<p class="mb-4 text-sm">
					<span class="font-semibold text-red-500">{{notification.isRead}}</span>
				</p>

				<!-- User Info -->
				<p class="text-sm text-gray-500">
					<strong>User:</strong>
					{{notification.userId}}
					<!-- Replace with dynamic user info -->
				</p>


			{% endfor %}
			<a href="{{path('app_profile_show')}}" class="relative flex justify-center w-full px-4 py-2 mt-5 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md group hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
				{{ 'Back to Profile' | trans }}
			</a>
		</div>
	</body>
{% endblock %}
