{% extends 'base.html.twig' %}

{% block title %}Edit Reservation
{% endblock %}

{% block body %}

	<main class="flex flex-col items-center justify-center min-h-full px-4 py-12 sm:px-6 lg:px-8">


		<h2 class="mb-4 text-3xl font-extrabold text-center text-gray-900 ">Reservation Modification
		</h2>
		<div
			class="flex flex-col items-center justify-center gap-2 space-y-8 w-ful-l">
			{# Image du Hall à gauche #}
			<div class="flex flex-col items-center justify-center w-1/2 ">
				<h2 class="mb-4 text-3xl font-extrabold text-center text-gray-900">{{ reservation.hallId.name }}</h2>
				<img src="{{ asset('img/halls/' ~ reservation.hallId.mainImg) }}" alt="{{ reservation.hallId.name }}" class="object-cover w-full h-auto rounded-lg">
			</div>

			<!-- Formulaire -->
			<div class="w-1/2 p-8 bg-white rounded-lg shadow">
				{{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}

				{# Champ Date de Début #}
				<div class="space-y-2">
					<label for="start_date" class="block text-sm font-medium text-gray-700">Start Date</label>
					{{ form_widget(form.startDate, { 'attr': {'class': 'appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'} }) }}
					{{ form_errors(form.startDate) }}
				</div>

				{# Champ Date de Fin #}
				<div class="space-y-2">
					<label for="end_date" class="block text-sm font-medium text-gray-700">End Date</label>
					{{ form_widget(form.endDate, { 'attr': {'class': 'appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'} }) }}
					{{ form_errors(form.endDate) }}
				</div>

				{# Champ Heure de Début #}
				<div class="space-y-2">
					<label for="start_time" class="block text-sm font-medium text-gray-700">Start Time</label>
					{{ form_widget(form.startTime, { 'attr': {'class': 'appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'} }) }}
					{{ form_errors(form.startTime) }}
				</div>

				{# Champ Heure de Fin #}
				<div class="space-y-2">
					<label for="end_time" class="block text-sm font-medium text-gray-700">End Time</label>
					{{ form_widget(form.endTime, { 'attr': {'class': 'appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'} }) }}
					{{ form_errors(form.endTime) }}
				</div>

				{# Bouton de soumission #}

				<div>
					<button type="submit" class="justify-center block w-full px-4 py-2 text-center text-white bg-indigo-600 border border-transparent rounded-md py-2text-white relativeflex group hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
						Save Changes
					</button>
				</div>
				{# Lien pour retourner à la liste des réservations #}
				<div>
					<a href="{{ path('app_reservation_index') }}" class="justify-center block w-full px-4 py-2 text-center text-white border border-transparent rounded-md bg-cyan-600 py-2text-white relativeflex group hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
						Back to Reservations
					</a>
				</div>
				{{ form_end(form) }}
			</div>

			<!-- Fin du formulaires -->


		</div>

	</main>

{% endblock %}
