{# list des reservations #}

{% extends 'base.html.twig' %}

{% block title %}My Reservations
{% endblock %}

{% block body %}
<pre>
    {{ dump() }}
</pre>

    {# <h1>My Reservations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Hall</th>
                <th>Area</th>
                <th>Capacity</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Confirmed</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.hall.name }}</td>
                    <td>{{ reservation.hall.hallImage }}</td>
                    <td>{{ reservation.hall.area }}</td>
                    <td>{{ reservation.hall.capacityMax }}</td>
                    <td>{{ reservation.start_date|date('Y-m-d') }}</td>
                    <td>{{ reservation.end_date|date('Y-m-d') }}</td>
                    <td>{{ reservation.start_time|date('H:i') }}</td>
                    <td>{{ reservation.end_time|date('H:i') }}</td>
                    <td>{{ reservation.is_confirmed ? 'Yes' : 'No' }}</td>
                    <td>
                        <a href="{{ path('app_reservation_show', {id: reservation.id}) }}" class="btn btn-primary btn-sm">Show</a>
                        <a href="{{ path('app_reservation_edit', {id: reservation.id}) }}" class="btn btn-secondary btn-sm">Edit</a>
                        <form method="post" action="{{ path('app_reservation_delete', {id: reservation.id}) }}" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this reservation?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">No reservations found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_new') }}" class="btn btn-success">Add New Reservation</a> #}
{% endblock %}

