{% extends 'base.html.twig' %}

{% block title %}Add New Reservation{% endblock %}

{% block body %}
    <h1>Add New Reservation</h1>

    {# Lien pour revenir à la liste des réservations #}
    <a href="{{ path('app_reservation_index') }}" class="mb-3 btn btn-secondary">Back to My Reservations</a>

    {# Formulaire de nouvelle réservation #}
    {{ form_start(form) }}
    
    <div class="form-group">
        <label for="hall">Hall</label>
        {{ form_widget(form.hall, { 'attr': {'class': 'form-control'} }) }}
        <small class="form-text text-muted">
            Choose the hall you want to reserve. 
            Details of each hall (e.g., capacity, price) are provided in the options.
        </small>
    </div>

    <div class="form-group">
        <label for="start_date">Start Date</label>
        {{ form_widget(form.start_date, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        <label for="end_date">End Date</label>
        {{ form_widget(form.end_date, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        <label for="start_time">Start Time</label>
        {{ form_widget(form.start_time, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        <label for="end_time">End Time</label>
        {{ form_widget(form.end_time, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        <label for="is_confirmed">Confirmed</label>
        {{ form_widget(form.is_confirmed, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <button type="submit" class="mt-3 btn btn-success">Submit Reservation</button>

    {{ form_end(form) }}

{% endblock %}
