{% extends 'base.html.twig' %}

{% block title %}New Reservation
{% endblock %}

{% block body %}

	<div class="flex items-center justify-center min-h-full px-4 py-12 sm:px-6 lg:px-8">
		<div class="w-full max-w-md space-y-8">
			<h2 class="text-3xl font-extrabold text-center text-gray-900">Add a New Reservation</h2>

		

				{# Affichage du nom du hall sélectionné #}

				<img src="{{asset('img/halls/'~ hallImg)}}" alt='Main Image for Hall'/>

				{{ form_start(form ) }}

				<div class="space-y-4 rounded-md shadow-sm">
					<div>
						<label for="startDate" class="block text-sm font-bold text-gray-700">Start Date</label>
						{{ form_widget(form.startDate, { 'attr': {'class': 'relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'} }) }}
						{% if form.startDate.vars.errors|length > 0 %}
							<p class="text-sm text-red-500">{{ form_errors(form.startDate) }}</p>
						{% endif %}
					</div>
					<div>
						<label for="endDate" class="block text-sm font-bold text-gray-700">End Date</label>
						{{ form_widget(form.endDate, { 'attr': {'class': 'relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'} }) }}

						{% if form.endDate.vars.errors|length > 0 %}
							<p class="text-sm text-red-500">{{ form_errors(form.endDate) }}</p>
						{% endif %}
					</div>
					<div>
						<label for="startTime" class="block text-sm font-bold text-gray-700">Start Time</label>
						{{ form_widget(form.startTime, { 'attr': {'class': 'relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'} }) }}
						{% if form.startTime.vars.errors|length > 0 %}
							<p class="text-sm text-red-500">{{ form_errors(form.startTime) }}</p>
						{% endif %}
					</div>
					<div>
						<label for="endTime" class="block text-sm font-bold text-gray-700">End Time</label>
						{{ form_widget(form.endTime, { 'attr': {'class': 'relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'} }) }}
						{% if form.endTime.vars.errors|length > 0 %}
							<p class="text-sm text-red-500">{{ form_errors(form.endTime) }}</p>
						{% endif %}
					</div>
					<div>
						<label class="block text-sm font-bold text-gray-700">Ergonomy</label>
						<div class="grid grid-cols-1 gap-4 mt-2 md:grid-cols-3">
							{% for ergonomy in ergonomies %}
								<div class="flex items-center">
									<input type="checkbox" id="ergonomy_{{ ergonomy.id }}" name="ergonomies[]" value="{{ ergonomy.id }}" class="mr-2">
									<label for="ergonomy_{{ ergonomy.id }}" class="text-gray-600">{{ ergonomy.name }}</label>
								</div>
							{% endfor %}
						</div>
					</div>

					<div>
						<label class="block font-bold text-gray-700 text-">Equipment</label>
						<div class="grid grid-cols-1 gap-4 mt-2 md:grid-cols-3">
							{% for equipment in equipments %}
								<div class="flex items-center">
									<input type="checkbox" id="equipment_{{ equipment.id }}" name="equipments[]" value="{{ equipment.id }}" class="mr-2">
									<label for="equipment_{{ equipment.id }}" class="text-gray-600">{{ equipment.name }}</label>
								</div>
							{% endfor %}
						</div>
					</div>

					<div class="my-4 space-y-4">
						<button type="submit" class="justify-center block w-full px-4 py-2 text-center text-white bg-indigo-600 border border-transparent rounded-md py-2text-white relativeflex group hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
							Add Reservation
						</button>
						<a href="{{ path('app_reservation_index') }}" class="justify-center block w-full px-4 py-2 text-center text-white border border-transparent rounded-md bg-stone-500 py-2text-white relativeflex group hover:bg-stone-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
							Back to Reservations
						</a>
					</div>

					{{ form_end(form) }}
				</div>
			
		</div>
		</div>
	{% endblock %}
