{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}

	<h1>
		{{ 'WELCOME TO HALL 4 ALL DASHBOARD' | trans }}
	</h1>
	<body>


		<h1 class="mb-6 text-3xl font-bold text-center blink">Reservations that need Attention !!!</h1>
		{% if unconfirmedReservations is empty %}
			<p class="text-center text-gray-600">No unconfirmed reservations found.</p>
		{% else %}
			<div class="grid grid-cols-2 gap-6">
				{% for unconfirmedReservation in unconfirmedReservations %}
					<div class="max-w-sm mx-auto overflow-hidden transition-shadow duration-300 bg-white rounded-lg shadow-lg hover:shadow-xl">
						<div class="p-4">
							<p class="mt-2 text-gray-500">
								<span class="font-semibold">Start Date:</span>
								{{ unconfirmedReservation.startDate|date('Y-m-d') }}
							</p>
							<p class="mt-2 text-gray-500">
								<span class="font-semibold">End Date:</span>
								{{ unconfirmedReservation.endDate|date('Y-m-d') }}
							</p>
							<p class="mt-2 text-gray-500">
								<span class="font-semibold">Start Time:</span>
								{{ unconfirmedReservation.startTime|date('H:i') }}
							</p>
							<p class="mt-2 text-gray-500">
								<span class="font-semibold">End Time:</span>
								{{ unconfirmedReservation.endTime|date('H:i') }}
							</p>
							<p class="mt-2 text-gray-500">
								<span class="font-semibold">Confirmed:</span>
								{{ unconfirmedReservation.isConfirmed ? 'Yes' : 'No' }}
							</p>
							<p class="mt-2 text-gray-500">
								<span class="font-semibold">Special Request:</span>
								{{ unconfirmedReservation.specialRequest }}
							</p>
							<p class="mt-2 text-gray-500">
								<span class="font-semibold">User:</span>
								{{ unconfirmedReservation.userId.email }}
							</p>
							<a href="{{ path('app_register') }}" class="block w-full px-4 py-2 text-center text-indigo-600 bg-indigo-600 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
								{{ 'Confirm' | trans }}
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}

	</body>
	<style>
		@keyframes blink {
			0% {
				opacity: 1;
			}
			25% {
				opacity: 0.5;
			}
			50% {
				opacity: 0;
				color: red;
			}
			75% {
				opacity: 0.5;
			}
			100% {
				opacity: 1;
			}
		}

		.blink {
			animation: blink 1s infinite;
		}
	</style>

{% endblock %}
