<footer class="flex gap-5">
<div class="footer-logo">
		<img src="{{asset('img/logo1.png')}}" alt="logo">
	</div>
<section>
<div>
&copy; <p class="">
		{{'now'|date('Y')}}</p>
<p>
{{' A Group Project Using Symfony By L2D Team'| trans }}
</p>
</div>
</section>
<section>
	<div>
		<a href="{{ path('app_legal_notice') }}">
			Mention legale
		</a>
		<a href="{{ path('app_policy') }}">
			Protection de données personnalle
		</a>
		<a href="#">
			Site Map
		</a>

	</div>
</section>
	
    <div class="flex social-media ">
        <a href="#"><img src="{{ asset('img/facebook.png')}}" alt="facebook"></a>
        <a href="#"><img src="{{ asset('img/twitter.png')}}" alt="twitter"></a>
        <a href="#"><img src="{{ asset('img/instagram.png')}}" alt="instagram"></a>
    </div>
</footer>
